{% extends 'timeline/template.html' %}
{% block content %}
<div class="index">
<ul>
    {% for post in posts %}
    <div class="row">
        <div class="col-md-10">
            <h3>{{ post.post_title }}</h3>
            <h5>{{ post.post_content }}</h5>
            <p>Posted by {{ post.user }}</p>
        </div>
        <div class="comment col-md-2">
            <a href="{% url 'timeline:detail' post.id %}"><i class="far fa-comment"></i><br>Comment</a>
        </div>
    </div>
    {% endfor %}
</ul>
</div>
{% endblock %}